#intro{
    height: calc(400vh);
    width: 100vw;
    max-width: 175rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    background-color: rgb(240, 243, 191);
}
.bg{
    height: 100vh;
    position: absolute;
    top: -4rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
}
.introContent {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skillBars {
    display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  }
.hello{
    font-size: 1.75rem;
    font-weight: 100;
}
.introName{
    color: cyan;
}
.introPara{
    font-size: medium;
    font-weight: 100;
}

.intershipsheader{
    display: flex;
    flex: auto;
    font-size: 2rem;
    font-weight: 800;
    margin-left: 4rem;
}
/* .skillBars{
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
    display: flex;
    flex-direction: column;
} */
.skillBar{
    display: flex;
    flex-wrap: wrap; 
    overflow:auto;
    margin: 1rem;
    padding: 1.5rem 2rem;
    border-radius: 0.5rem;
    border: 5px solid rgb(30, 30, 30);
    width: 30%; /* Each skill bar takes up 30% of the container width */
    max-width: 300px;
    align-items: flex-start;
}

.skillBar:hover{
    /* color: rgb(0, 255, 255); */
    padding-bottom: 0.5rem;
    border: 3px solid rgb(224, 128, 3);
    background-color: white;
}
.hireBtn{
    background-color: rgb(30, 30, 30);
    color: cyan;
    text-shadow: 1px 1px 10px 1px black;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
}
.skillBarImg{
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;
}

.skillBarText>p{
        font-size: 0.6rem;
        font-weight: 500; 
        width: 10rem;    
}
.skillBarText>h2{
    display: flex;
    flex: auto;
    font-size: 1rem;
}
@media screen and (max-width:480px){
    .skillBar{
        flex-wrap: wrap;
    }
    .skillBarText>p{
        font-size:2vw;
    }
    .skillBarImg{
        height: 2.25rem;
        width: 2.25rem;
        margin-right: 5 rem;
    }
    .skillBarText>h2{
        font-size: 5vw;
    }
}
@media screen and (max-width:840px){
    
    .bg{
        right: -10vw;
    }
    .introContent{
        font-size: 10vw;
    }
    .hello{
        font-size: 4rem;
    }
}

@media screen and (max-width:480px){
    .bg{
        right: -20vw;
    }
}